<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>Questions</title>
</head>
<body ng-app="MainApp">

    <a ng-click="emitState('index')">HOME</a> <a ng-click="emitState('index.polls')">POLLS</a>
    <div ui-view></div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="{{static_url('js/app.js')}}"></script>
    <script src="{{static_url('js/polls/controller/pollsController.js')}}"></script>
    <script src="{{static_url('js/polls/model/pollsModel.js')}}"></script>
    <script src="{{static_url('js/index/service/socketService.js')}}"></script>
</body>
</html>